
  <img src='{{avatar}}' alt="avatar">
  <a href="{{id}}"><h2>{{name}}</h2></a>
  <p>{{#job}}{{job}}{{/job}}
    {{^job}}
      <p class="noJob">Currently Seeking Employment</p>
    {{/job}}
    {{#company}}{{company}}{{/company}}</p>
